@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-image: radial-gradient(#d1dbe7, #6987cf);
}

#btnStart {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 130px;
    position: absolute;
    top: 30px;
    font-family: 'Passion One', cursive;
    font-size: 30px;
    color: #ffffff;
    background-color: green;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    box-shadow: #000 0 0 10px;

    border-top: solid 5px #19b419;
    animation: animatio1 1s infinite linear;
    transition: all .3s;
}

#btnStart:hover {
    width: 135px;
    height: 135px;
    background-color: #349908;
    box-shadow: #ffff1a 0 0 20px;
    transition: all .3s;
}

#btnStart span {
    position: relative;
    top: -3px;
    animation: animatio2 1s infinite linear;
}

#timeSelect {
    position: absolute;
    top: 200px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}

h1 {
    position: absolute;
    top: 250px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    color: green;
}

/* --------- animations --------- */
@keyframes animatio1 {
    to {
        transform: rotate(360deg);
    }
}

@keyframes animatio2 {
    to {
        transform: rotate(-360deg);
    }
}