@charset "UTF-8";

#docesSection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: calc(100vh - 60px);
}

#docesSection h2 {
    font-family: 'Courgette', cursive;
    font-size: 50px;
    position: absolute;
    top: 150px;
    margin: 0 auto;
}

#docesSection img {
    height: 200px;
    margin: 10px;
    border-radius: 10px;
    border: double #000000 8px;
}