@charset "UTF-8";

#homeSection {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 100px);
    flex-direction: column;
    overflow-x: hidden;
}

#homeSection img {
    width: 100px;
    position: relative;
    left: 50px;
    top: 30px;
}

h1 {
    font-family: 'Courgette', cursive;
    font-size: 100px;
    text-align: center;
    color: #6a00cd;
    z-index: 1;
}

h2 {
    font-family: 'Courgette', cursive;
    font-size: 30px;
    text-align: center;
    color: #000000;
    margin-bottom: 100px;
    font-style: italic;
}