@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: 'Courgette', cursive;
    font-size: 30px;
    color: blue;
    text-shadow: #acacac 2px 2px 2px;
}

h2 {
    margin-top: 15px;
    font-size: 16px;
    font-weight: 200;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background-image: radial-gradient(#fff, #77CBDA);
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    border: solid #2418d3 3px;
    padding: 10px;
    width: 300px;
    background-color: #a1f2fd80;
    border-radius: 10px;
    box-shadow: rgb(126, 126, 126) 7px 7px 10px;
}

form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#cep {
    margin: 10px 0;
    width: 200px;
    height: 30px;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    border-radius: 5px;
    border: solid #000 2px;
}